# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore virtual environments for all projects
.venv/
*/.venv/

# Ignore .env files containing sensitive data
*.env

# Ignore SQLite database files
*.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/

# System-specific files
.DS_Store
Thumbs.db
